.home-header {
  height: 50vh;
  background-size: cover !important;;
  background-position: center center;
  display: flex;
  position: relative;
  text-align: center;
}

.home-banner-content h1 {
  color: white;
  font-size: 50px;
  text-align: center
}

.home-banner-content p {
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.home-banner-text {

}

