.home-header {
  height: 50vh;
  background-size: cover !important;;
  background-position: center center;
  display: flex;
  position: relative;
}

.home-banner-content h1 {
  position: absolute;
  top: 45%;
  right: 5%;
  color: white;
  font-size: 50px;
}

.home-banner-content p {
  position: absolute;
  top: 35%;
  right: 14%;
  color: $orange;
  font-size: 35px;
  font-weight: bold;
}

