.big-wrapper {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.small-wrapper-left {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.small-wrapper-right {
  padding-top: 10px;
  margin: 10px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-size: cover !important;
}
